body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #e6e6e6;
}
  
.navbar {
    overflow: hidden;
    background-color: #30cc93;
    height: 50px;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
    font-weight: 800;
}
  
input, select{
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

h1{
    float: left;
    padding: 10px;
    margin: auto;
    font-size: 20px;
    vertical-align: middle;
}

.boof{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height:auto;
    padding: 40px;
    background-color: whitesmoke;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.Forms-Outputs legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
    font-family: 'Pacifico', cursive;
}

.Forms-Outputs input{
    display: block;
    width: 320px;
    border: 2px sold gray;
    font-size: 15px;
    padding: 15px;
    margin: auto;
}

.Forms-Outputs select{
    display: block;
    width: 320px;
    border: 2px sold gray;
    font-size: 15px;
    padding: 15px;
    margin: auto;
  
}
  
.Forms-Outputs button{
    display: inline-block;
    background-color: #5F65FE;
    width: 350px;
    border:2px;
    padding: 15px;
    height: 55px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: black;
    border-radius: 5px;

  }  

.Forms-Outputs label{
    display: block;
    padding: 15px;
    font-size: 18px;
    text-align: left;
    width: 320px;
    margin: auto;
    
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

.navbar a{
    float: right;
    padding: 12px;
    margin: auto;
    font-size: 15px;
    vertical-align: middle;
}
  
.navbar a:hover{
    color: #5F65FE;
}
  
.navbar h1:hover{
    color: #5F65FE;
}

button:hover{
    color: white;
}
  
.button{
    font-size: 24px;
    font-weight: 100;
    color: black;
    text-align: center;
    width: 300px;
    height: 80px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
    border-radius: 10px;
    background-color: #5F65FE;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 10px;
    margin: auto;
  }
  
ul li{
    margin-bottom: 20px;
    border-bottom: #5F65FE 5px;
}
  
h2{
    font-family: 'Pacifico', cursive;
    font-weight: 200;
}
